<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled 1</title>
<style type="text/css">
.auto-style1 {
	color: #F12222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
}
</style>
</head>

<style type="text/css">
.auto-style1 {
	color: #F12222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
}
.auto-style5 {
	color: #800080;
}
.auto-style6 {
	text-align: center;
}
.auto-style7 {
	color: #F12222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	text-align: center;
}
.auto-style8 {
	text-align: right;
}
.auto-style9 {
	text-align: left;
}
</style>
</head>

<body>

<div class="container text-center" >
	<p class="auto-style1"><strong>Password Generator</strong></p>
	<p class="auto-style7">&nbsp;</p>
	<form action="password" >
		<div class="container text-center">
			<table style="width: 50%">
				<tr>
					<td class="auto-style8">
			<select class="auto-style5" name="length">
			<option></option>
			<option value="6">6</option>
			<option value="10">10</option>
			<option value="12">12</option>
			<option selected="selected" value="14">14</option>
			</select></td>
					<td class="auto-style9">Length</td>
				</tr>
				<tr>
					<td class="auto-style8">
			<input name="uppercase" type="checkbox" value="1" /></td>
					<td class="auto-style9">Uppercase</td>
				</tr>
				<tr>
					<td class="auto-style8">
			<input name="numbers" type="checkbox" value="1" /></td>
					<td class="auto-style9">Numbers</td>
				</tr>
				<tr>
					<td class="auto-style8">
			<input name="special" type="checkbox" value="1" /></td>
					<td class="auto-style9">Special Characters</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td class="auto-style9">
			<input name="submit" type="submit" value="Generate Password" class="btn btn-primary" /></td>
				</tr>
			</table>
&nbsp;<br />
			</div>
	</form>
</div>



</body>



</html>
